<!DOCTYPE html>
<html>
<head>
  <title>Books module</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "books_module/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
